# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/assets/.thumbs
/assets/camera/build
/assets/camera/.thumbs



*.cbin
*.cinfo
